@import "../scss/materialize";
@import "../scss/grid";
@import "../scss/colors";
@import "../scss/leftnav";

@import '../scss/rightNav';

body {
    overflow-x: hidden;
    background: #353434;
    // background: url(./img/body_background.jpg) no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}

.Shadow {
    -webkit-box-shadow: 1px 1px 13px 0px rgba(163,153,163,1);
-moz-box-shadow: 1px 1px 13px 0px rgba(163,153,163,1);
box-shadow: 1px 1px 13px 0px rgba(163,153,163,1);
}
 
a {
    color: gray;
}

a:hover {
    cursor: pointer;
}

h1 {
    color: aqua;
}

h3 {
    font-size: 25px;
    @extend .gray_font;
}


.Wrapper {
    width: 100%;
    margin: 5px;
    background: rgba(230, 229, 229, 0.486);
}

.brand-logo {
    margin-left: 10px; 
}

.material-icons {
    vertical-align: middle;
}



.Card {
    padding: 10px;
    border: solid thin rgb(224, 224, 224);
    @extend .Shadow;
    margin: 10px 0px 10px 0px;
    @extend .light_gray;
}


.LeftCol {
    width: 400px;
}

.MiddleCol {
    width:500px;
}

.rightestCol {
    width: 400px;
    max-height: 100vh;
    border: solid thin aqua;
    overflow: scroll;
    position: fixed;
    top: 70px!important;
    right: 0px!important;
  }

  .spacebetween {
      display: flex;
      justify-content: space-between
  }

.imgUploadBtn {
    
    display: flex;
    justify-content: center; 
    padding: 20px;
    border-radius: 10px;
    border: solid thin rgb(163, 161, 161);
    @extend .gray_font;
    font-size: 20px;
    width: 70px;
}

.imgUploadBtn:hover {
    cursor: pointer;
}

  .fadeIn {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



 