

.lightest_gray {
    background: #f4f4f4;
  }
      
  .light_gray {
    background: #fcfafac9;   
  }

  .light_gray_border {
    border: solid thin #d1cfcf;   
  }
  
  .light_gray_font {
    color: #b6b5b5;
  }
    
  .dark_gray_opacity {
    background: rgba(40, 44, 42, 0.8);
  }

  .medium_gray_opacity {
    background: rgba(40, 44, 42, 0.562);
  }
  
  .gray_font {
    color: gray;
  }
  
  .wittwer_blue_font {
    color: #00aeef;
  }
  
  .wittwer_blue {
    background: #00aeef;
  }
  
  .lightest_green {
      background: #e7ecea;
  }
  
  .mid_green_font {
    color: #2CC185;
  }
  .mid_green {
    background: #2CC185;
  }
  
  .r_body_gray {
    background: rgb(230, 228, 228);
  } 
  
  .dark_gray_font {
    color: #282828;  
  }
  
  .dark_gray_background {
    background: #282828;  
  }
  .wittwer_purple_font {
    color: rgba(64,85,189,1);
  }
  
  .wittwer_purple_background {
    background-color: rgba(64,85,189,1);
  }