

.LeftNav_Card {
    // @extend .Shadow;
    // @extend .light_gray;

}

.leftNav li {
    transition: background-color 0.2s ease;

    padding: 10px;
    i {
        
    }
}

.leftNav li:hover {
    @extend .medium_gray_opacity;
    color: white;
}