.RecipeCard {

    h5 {
        color: rgb(92, 92, 92);
        text-transform: uppercase;
        font-size: 15px;
    }
}


.RecipeStepEdit {
    border: solid thin rgb(222, 220, 220);
    border-radius: 10px;
    background: rgb(242, 240, 240);
    padding: 10px;
    margin: 10px 0px;
    img{
        width: 80%;
    }

    h6 {
        color: rgb(120, 119, 119);
    }

    input {
        height: 50px;
        overflow-y: scroll;
    }
}